In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/ryanmichels/Downloads/budget_data.csv')

In [4]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
df.shape

(86, 2)

In [6]:
total_number_months = df['Date'].count()

In [7]:
net_profit = df['Profit/Losses'].sum()

In [8]:
diff =0
for i in range(len(df['Profit/Losses'])-1):
    diff += df['Profit/Losses'].iloc[i+1] - df['Profit/Losses'].iloc[i]    
average_changes = diff/85

In [9]:
a = []
for i in range(len(df['Profit/Losses'])-1):
    a +=[df['Profit/Losses'].iloc[i+1] - df['Profit/Losses'].iloc[i]]
max(a),min(a)

(1926159, -2196167)

In [10]:
a

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [11]:
def get_greatest_increase(df, answer =0):
    profit_change = df['Profit/Losses'].iloc[1] - df['Profit/Losses'].iloc[0]
    for i in range(len(df)-1):
        if df['Profit/Losses'].iloc[i+1] - df['Profit/Losses'].iloc[i] > profit_change:
            profit_change = df['Profit/Losses'].iloc[i+1] - df['Profit/Losses'].iloc[i]
            answer = i+1
    return answer

In [12]:
get_greatest_increase(df)

25

In [13]:
greatest_increase_profits = df['Profit/Losses'].iloc[25] - df['Profit/Losses'].iloc[24]

In [14]:
def get_greatest_decrease(df, answer =0):
    loss_change = df['Profit/Losses'].iloc[1] - df['Profit/Losses'].iloc[0]
    for i in range(len(df)-1):
        if (df['Profit/Losses'].iloc[i+1]) - (df['Profit/Losses'].iloc[i]) < loss_change:
            loss_change = df['Profit/Losses'].iloc[i+1] - df['Profit/Losses'].iloc[i]
            answer = i+1
    return answer

In [15]:
get_greatest_decrease(df)

44

In [16]:
greatest_decrease_losses = df['Profit/Losses'].iloc[44] - df['Profit/Losses'].iloc[43]

In [44]:
print("\tFinancial Analysis\n_____________________________________")
print("Total Months: \t ", total_number_months)
print("Total Profits: \t$", net_profit)
print("Average Change: $", round(average_changes,2))
print("Greatest Increase in Profits:", df['Date'].iloc[25],  "($"  ,greatest_increase_profits,")")
print("Greatest Derease in Profits:", df['Date'].iloc[44],  "($"  ,greatest_decrease_losses,")")

	Financial Analysis
_____________________________________
Total Months: 	  86
Total Profits: 	$ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 ($ 1926159 )
Greatest Derease in Profits: Sep-2013 ($ -2196167 )

In [46]:
file = open("Financial Analysis.txt", "w") 
file.write("Financial Analysis" + "\n") 
file.write("_____________________________________\n") 
file.write("Total Months: {}\n".format(total_number_months)) 
file.write("Total Profits:  ${}\n".format(net_profit)) 
file.write("Average Change:  ${}\n".format(round(average_changes,2))) 
file.write("Greatest Increase in Profits:  {} (${})\n".format(df['Date'].iloc[25],greatest_increase_profits)) 
file.write("Greatest Decrease in Profits:  {} (${})".format(df['Date'].iloc[44],greatest_decrease_losses)) 
 
file.close()